@import "tailwindcss";

:root{
    background: #FCFAF8;
}

.inter {
    font-family: "Inter", sans-serif;
}

.playfair {
    font-family: "Playfair Display", serif;
}

.hero-section {
    background-image: url("./assets/images/heroSection/heroImg.png");
    background-size: cover;
    background-position: center;
}

.why-kerala-section {
    background-image: url("./assets/images/whyKeralaSection/kerelaLandscapeImage.png");
    background-size: cover;
    background-position: center;
}





