@import "tailwindcss";

:root {
  background: #fcfaf8;
}

html {
  scroll-padding-top: 74px;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

.inter {
  font-family: "Inter", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.hero-section {
  background-image: url("./assets/images/heroSection/heroImg.png");
  background-size: cover;
  background-position: center;
}

.why-kerala-section {
  background-image: url("./assets/images/whyKeralaSection/kerelaLandscapeImage.png");
  background-size: cover;
  background-position: center;
}
